<!DOCTYPE HTML>
<html>

<head>
	<title>Happy love 300 days!</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<script language="JavaScript">
		var password="";
		password=prompt('Password Required','');
		if (password.toLowerCase() != 'dwlovehmj') {
			alert("Incorrect!!");    
			window.opener=null; 
			window.open("about:blank","_self").close();
		}  

	</script>
</head>

<body>
	<!-- Wrapper-->
	<div id="wrapper">

		<!-- Nav -->
		<nav id="nav">

			<a href="#me" class="fa fa-heartbeat"></a>
			<a href="#work" class="fa fa-venus-mars"></a>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Me -->
			<article id="me" class="panel">
				<br>
				<h1>
					<font face="Centaur">&nbsp&nbsp MinJie,</font>
				</h1>
				<br>

				<p>
					<font face="Trebuchet MS">&nbsp&nbsp&nbsp&nbsp&nbsp My Darling, We have fallen in love for
						<strong>300</strong> days!</font>
				</p>
				<p>
					<font face="Trebuchet MS">&nbsp&nbsp&nbsp&nbsp&nbsp We will keep moving on 400, 500, ...</font>
				</p>
				<p>
					<font face="Trebuchet MS">&nbsp&nbsp&nbsp&nbsp&nbsp And this time I wanna give you my flower in a different way!</font>
				</p>
				<p>
					<font face="Trebuchet MS">&nbsp&nbsp&nbsp&nbsp&nbsp Hope you like it!</font>
				</p>

				<a href="#work" class="jumplink pic">
					<span class="arrow icon fa-chevron-right">
						<span>Oh my love</span>
					</span>
					<img src="images/a.jpg" alt="" />
				</a>
			</article>

			<!-- Work -->
			<article id="work" class="panel">
				<header>
					<font face="Centaur" size="16">
						<strong>Violet</strong>
					</font>

					<font face="Centaur">&nbsp&nbsp Eternal Love</font>
				</header>

				<section>
					<p>
						<font face="Centaur">I love you, always have, always will.</font>
					</p>
					<div class="row">
						<div>
							<a href="#" class="image fit">
								<img src="images/b.jpg" alt="">
							</a>
						</div>
					</div>
				</section>
			</article>
		</div>

		<!-- Footer -->
		<div id="footer">
			<ul class="copyright">
				<li>Design: David, love you forever</li>
				<br>
				<audio src="music/secretbase.mp3" autoplay="autoplay" controls="controls"></audio>
			</ul>
		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/skel-viewport.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

</body>

</html>